@using ImportXmlToJson.Domain;
@model IEnumerable<ImportXmlToJson.Models.Imports>

@{
    ViewData["Title"] = "Title";
}

<body>
    <h1>Работа с договорами</h1>

    <a asp-controller="Imports" asp-action="JsonSerialization">Выгрузить все данные в Json формат</a>

    <form asp-controller="Imports" asp-action="JsonSerializationByStage" style="margin-top: 15px;">
        <input name="stage" />
        <button type="submit" class="btn btn-primary" >Выгрузить данные по указанному Этапу</button>
    </form>

    <table class="table">
        <thead>
            <th>
                @Html.DisplayNameFor( x => x.Contract_Stage)
            </th>
            <th>
                @Html.DisplayNameFor( x => x.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor( x => x.EndDate)
            </th>
        </thead>
        <tbody>
            @foreach (Imports entity in Model)
            {
                <th>
                    @entity.Contract_Stage
                </th>
                <th>
                    @entity.StartDate
                </th>
                <th>
                    @entity.EndDate
                </th>
            }
        </tbody>
    </table>
</body>